<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="/static/css/user/login.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () { // 确保在文档完全加载后执行
            document.getElementById('form').addEventListener('submit', function (e) {
                e.preventDefault();

                var username = document.getElementById('username').value;
                var password = document.getElementById('password').value;

                axios.post('/user/login/', {
                    username: username,
                    password: password
                })
                .then(function (response) {
                    if (response.data.status === 20041) {
                        localStorage.setItem('token', response.data.data.token);
                        document.getElementById('errorMsg').textContent = "Login successful";
                        setTimeout(function () {
                            window.location.href = "/chat/homepage/";
                        }, 3000);
                    } else {
                        document.getElementById('errorMsg').textContent = response.data.msg;
                    }
                })
                .catch(function (error) {
                    document.getElementById('errorMsg').textContent = "An error occurred: " + error;
                });
            });
        });
    </script>
</head>

<body>
    <div id="loginDiv" style="height: 350px">
        <form id="form">
            <h1 id="loginMsg"><b>LOGIN IN</b></h1>
            <div id="errorMsg"></div>
            <p>Username:<input id="username" name="username" type="text"></p>
            <p>Password:<input id="password" name="password" type="password"></p>
            <div id="subDiv">
                <input type="submit" class="button" value="login up">
                <a href="/user/register/" color='white'>Click here to register</a> <!-- 直接硬编码注册页面的链接 -->
            </div>
        </form>
    </div>
</body>
</html>
